.light-theme {
	--background: #FFF;
	--header-bg: #8be0c0;
	--dialog-bg: #EEE;
	--dialog-text: #111;
	--dialog-shadow: rgba(0, 0, 0, 0.25);
	--code-bg: #EEE;
}
.dark-theme {
	--background: #222;
	--header-bg: #216E4A;
	--dialog-bg: #222;
	--dialog-text: #FFF;
	--dialog-shadow: rgba(0, 0, 0, 0.75);
	--code-bg: #111;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--background);
	color: var(--dialog-text);
	transition: .3s;
	margin: 0;
}

button {
	padding: 5px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
}
p {
	font-size: 19px;
}
#result {
	margin: 0 25px;
}
#resultButtons {
	margin-top: 10px;
}

code {
	background-color: var(--code-bg);
	border-radius: 5px;
}

.indented {
	margin-left: 25px;
}
.indented2 {
	margin-left: 50px;
}
.indented3 {
	margin-left: 75px;
}

header {
	background-color: var(--header-bg);
	padding: 20px;
	margin-bottom: 30px;
}
header h1 {
	margin: 15px 0;
}

.dialog {
	position: fixed;
	display: none;
	z-index: 1;
	left: 0;
	top: 0;
	padding-top: 100px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: var(--dialog-shadow);
	transition: .3;
}

.dialog-content {
	position: relative;
	margin: auto;
	width: 70%;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animateDialog;
	animation-duration: 0.4s;
	background-color: var(--dialog-bg);
	border-radius: 5px;
}

@keyframes animateDialog {
	from {width: 0; opacity: 0}
	to {width: 70%; opacity: 1}
}

.close {
	color: #AAA;
	float: right;
	font-size: 28px;
	font-weight: bold;
	transition: .2s;
}
.close:hover, .close:focus {
	color: black;
	cursor: pointer;
}
