.light-theme {
	--background: #FFF;
	--header-bg: #8be0c0;
	--dialog-bg: #EEE;
	--text: #111;
	--link: #0000EE;
	--visited: #551A8B;
	--active: #FF0000;
	--dialog-shadow: rgba(0, 0, 0, 0.25);
	--code-bg: #EEE;
	--heading-color: #008900;
	--number-color: #00a100;
}
:root {
	--background: #222;
	--header-bg: #216E4A;
	--dialog-bg: #222;
	--text: #FFF;
	--link: #00EE00;
	--visited: #009900;
	--active: #FF0000;
	--dialog-shadow: rgba(0, 0, 0, 0.75);
	--code-bg: #111;
	--heading-color: #00a100;
	--number-color: #c5c31d;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--background);
	color: var(--text);
	transition: .3s;
	margin: 0;
}

button {
	padding: 5px 8px;
	font-size: 16px;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	box-shadow: inset 0px -1px 2px rgba(17,24,39,.15), 0 0 0 0 transparent;
}
p {
	font-size: 19px;
}
#result {
	margin: 0 25px;
}
#resultButtons {
	margin-top: 10px;
}
strong {
	color: var(--heading-color);
}

code {
	background-color: var(--code-bg);
	border-radius: 5px;
}

.indented {
	margin-left: 25px;
}
.indented2 {
	margin-left: 50px;
}
.indented3 {
	margin-left: 75px;
}

main {
	margin: 0 25px;
}

header {
	background-color: var(--header-bg);
	padding: 20px;
	margin-bottom: 30px;
}
header h1 {
	margin: 15px 0;
}

summary {
	cursor: pointer;
}

.dialog {
	position: fixed;
	display: none;
	z-index: 1;
	left: 0;
	top: 0;
	padding-top: 100px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: var(--dialog-shadow);
	transition: .3;
}

.dialog-content {
	position: relative;
	margin: auto;
	width: 75%;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animateDialog;
	animation-duration: 0.4s;
	background-color: var(--dialog-bg);
	border-radius: 5px;
}

@keyframes animateDialog {
	from {width: 0; opacity: 0}
	to {width: 75%; opacity: 1}
}

.close {
	color: #AAA;
	float: right;
	font-size: 28px;
	font-weight: bold;
	transition: .2s;
}
.close:hover, .close:focus {
	color: black;
	cursor: pointer;
}

a:link {
	color: var(--link);
}
a:visited {
	color: var(--visited);
}
a:active {
	color: var(--active);
}

#drop {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	opacity: 0;
	border: #00000021 3px solid;
	animation: animateDrop 1.5s;
	padding: 7px;
	border-radius: 50%;
}
@keyframes animateDrop {
	from {
		opacity: 1;
	}
	to {
		transform: translate(-50%, -50%) scale(7);
		border-width: 1px;
		opacity: 0;
	}
}
